h1 {
  color: darkblue;
}

h2 {
    color: deeppink;
}

p {
    color: blueviolet;
}

li{
    color: blueviolet;
}

img {
    width: 100%
}

.row {
    display: flex;
    justify-content: space-around;
}

.element {
    width: 50%
}